
/*----- Universal Styles ------*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}


:root {
    --aliceblue: aliceblue;
    --lighter-shade-black: rgba(0, 0, 0, 0.815);
    --skyblue: skyblue;
}

a {
    color: inherit;
    text-decoration: none;
}

nav li:hover,
.contact-me li:hover {
    color: var(--skyblue);
    border-color: var(--skyblue);
}

body {
    background-color: var(--aliceblue);
}

h1 {
    margin: 0;
    padding: 0 50%;
    background-color: var(--aliceblue);
}

h2 {
    border-bottom: 1px solid var(--lighter-shade-black);
    margin: 2% 50%;
}

h1,
h2 {
    white-space: nowrap;
    color: var(--lighter-shade-black);
}

li {
    list-style-type: none;
}

/*----- Header Styles -----*/

.header {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    padding: .5rem 0;
    background-color: var(--lighter-shade-black);
}

/*----- Nav Styles ------*/


nav ul {
    display: flex;
    white-space: nowrap;
    margin-top: 2%;
    gap: 1rem;
}

nav li{
    padding: 0 1rem;
    margin: 0 -1px;
    color: var(--aliceblue);
    border-bottom: 3px solid var(--aliceblue);
}
/*----- Main Photo Styles -----*/

.bryce-photo {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.blue-stripes,
.overlay-blue-stripes {
    display: none;
}

/*----- Main Styles -----*/

main {
    padding-top: 1rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
}

/*----- About Me ----- */

.about-me-p {
    padding: 1rem;
}

/*----- Work Section -----*/

.work-grid {
  display: grid;
  gap: 1rem;
}

.work-grid img {
    margin: 0;
    min-width: 0;
    width: 100%;
    border-spacing: 0;
    transition: 0.3s;
    outline: 4px solid grey;
}

.work-grid img:hover {
    filter: brightness(125%);
}


.overlay-work-grid {
    margin-top: -3.5rem;
    background: grey;
    width: 15%;
    font-size: 1rem;
    padding: 10px;
  }

  .overlay-work-grid p{
    font-size: 0.5rem;
}


.overlay-blue-stripes,
.overlay-work-grid {
  position: absolute;
  text-align: center;
  color: var(--aliceblue);
}

/*----- Contact Me Section -----*/

.contact-me ul {
    padding: 1rem 0;
}

.contact-me li {
    color: var(--lighter-shade-black);
    padding-top: 0.25rem;
    border-bottom: 1px solid var(--lighter-shade-black);
}

/*----- Media Queries -----*/

@media (min-width: 769px){

    .photo-flex {
        display: flex;
    }

    .bryce-photo {
        max-width: 325px;
    }
    
    .blue-stripes {
        display: inline;
        width: 100%;
    }
    
    .bryce-photo,
    .blue-stripes {
        height: 400px;
    }

    .overlay-blue-stripes {
        display: block;
        white-space: nowrap;
        margin: 25.5rem 0 0 90%;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        background-color: darkslategray;
        font-size: 1.5rem;
        padding: 10px 50% 10px 10px;
      }

    .work-grid {
        grid-template-columns: 1fr 1fr;
    }

    .grid-span-2 {
        grid-column: span 2;
    }

    .contact-me li {
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        border-width: 3px;
    }
}



@media (min-width: 901px) {
    
    
.header {
    flex-wrap: nowrap;
    background-color: var(--lighter-shade-black);
    justify-content: space-between;
}

h1 {
    padding: 0 1rem 0 4rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

nav ul {
    padding-right: 3rem;
    white-space: nowrap;
    margin-top: 2%;
    gap: 1rem;
}


.overlay-blue-stripes {
    margin: 23.5rem 15% 0 47.5%;
    font-size: 2rem;
    padding: 10px 100% 10px 10px;
  }


.card {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 3%;
}

.card p {
    padding-left: 1rem;
    padding-right: 1rem;
}

h2 {
    border-bottom: none;
    align-self: flex-start;
    border-right: 3px solid var(--lighter-shade-black);
    margin: 2% 10% 2% 5%;
    padding-right: 1rem;
}

.about-me-p{
    padding-top: 0;
    padding-bottom: 0;
}

.contact-me ul {
    white-space: nowrap;
    position: absolute;
    padding-left: 30%;
}
.contact-me li {
    display: inline;
    font-weight: bolder;
    font-size: large;
    padding: 0 7%;
    }

}
