

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --aliceblue: aliceblue;
    --lighter-shade-black: rgba(0, 0, 0, 0.753);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2%;
    background-color: var(--lighter-shade-black);
}

header h1 {
    white-space: nowrap;
    padding: 0 50%;
    background-color: var(--aliceblue);
}

nav ul {
    display: flex;
    white-space: nowrap;
    margin-top: 2%;
    justify-content: center;
}

nav li{
    margin: 0 2%;
    color: var(--aliceblue);
    list-style-type: none;
}

body {
    background-color: var(--aliceblue);
}